.rodape {
    background-color: rgb(175, 233, 161);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
}