.sessao {
    width: 100%;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 20px;
}

.paragrafo {
    font-size: 40px;
}

.erro {
    font-size: 200px;
    font-weight: 800;
    color: red;
}