.cabecalho {
    width: 100%;
    height: 50px;
    background-color: rgb(136, 218, 143);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho span {
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
}

.cabecalho nav {
    display: flex;
    gap: 50px;
}

.cabecalho nav a {
    color: white;
    text-decoration: none;
}